/* ----------------------------- */
/* DM Sans - texte courant */
/* ----------------------------- */
@font-face {
  font-family: "DM Sans";
  src: url('/fonts/BBBDMSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url('/fonts/BBBDMSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italique simulé */
@font-face {
  font-family: "DM Sans";
  src: url('/fonts/BBBDMSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: oblique 10deg;
  font-display: swap;
}

/* DM Sans - Bold Italic simulé */
@font-face {
  font-family: "DM Sans";
  src: url('/fonts/BBBDMSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: oblique 10deg;
  font-display: swap;
}

/* ----------------------------- */
/* BBB Manifont Grotesk - titres */
/* ----------------------------- */
@font-face {
  font-family: "BBB Manifont Grotesk";
  src: url('/fonts/BBBManifontGrotesk-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BBB Manifont Grotesk";
  src: url('/fonts/BBBManifontGrotesk-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* ----------------------------- */
/* Fira Code - code */
/* ----------------------------- */	
@font-face {
	font-family: "Fira Code";
	src: url('/fonts/FiraCode-Regular.woff2'), format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: normal;
}
